<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{vm.movieName}}">
  <ion-content class="padding">
      <div class="col col-90 col-offset-5"><h2 >{{vm.name}}</h2></div>
      <h4>{{vm.decision}}</h4>
      <h4>{{vm.userDecision}}</h4>

<!--       <div ng-show='window.localStorage.user' class='ng-hide'>NGSHOW</div>
 -->    <img id='poster' ng-src="{{vm.poster}}">
    <p>Cast your vote!</p>
   <div class="button-bar">
        <button class="button button-dark vote" ng-click='vm.movieVote()'>Movie</button>
          <button class="vote button button-dark " ng-click='vm.bookVote()'>Book</button>
   </div>
    <div id='infopane'>
      <ul>
        <li>Book Review Metascore : {{vm.bookCriticReview}}</li>
        <li>Movie Review Metascore : {{vm.movieCriticReview}}</li>
        <li>User Movie Votes: {{vm.movieVotes.length}}</li>
        <li>User Book votes: {{vm.bookVotes.length}}</li>
      </ul>
    </div>
  </ion-content>
</ion-view>
