<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{vm.movieName}}">
  <ion-content class="padding">
      {{vm.test}}
      <h2 >{{vm.name}}</h2>
      <ul>
        <li>Book title : {{vm.bookTitle}}</li>
        <li>Book Critic's review : {{vm.bookCriticReview}}</li>
        <li></li>
      </ul>
    <img ng-src="{{vm.poster}}" style="width: 100px; height: 150px">
    <p>
    </p>
  </ion-content>
</ion-view>
