<ion-view view-title="Book or Movie?">
  <ion-content class='padding'>
  <div class="col col-100">
      <h4 id='main-header'>
        Can't decide whether you want to see the movie or read the book first? <br> We're here to help.
      </h4>
      <img id='main-image' src="http://2.bp.blogspot.com/-tlns1qOSDyI/U3Y4Avjf9bI/AAAAAAAAAMc/a-_x3MR8hc0/s1600/books_arrow_film_reel.png">

  <div ng-controller='AuthenticationController'>
    <div ng-show='Authenticated'></div>
    {{test}}
    <div class="col col-50"><img id='google-oauth' src="./img/google-login.png" alt="Login with Google" ng-click='googlelogin()'></img></div>

  </div>
  </ion-content>
</ion-view>
