<ion-view view-title="User" class='frame_look_feel'>
  <ion-content class='padding'>
  <div ng-show="window.localStorage.user !== '' || window.localStorage.user !== null || window.localStorage.user !== undefined "class='ng-hide'>
     <img class='col-50 col-offset-25'src="{{vm.image}}">
      <div class='col-50 col-offset-25'>{{vm.firstName}}</div>
      <div class='col-50 col-offset-25'>{{vm.lastName}}</div>
      <div class='col-50 col-offset-25'>{{vm.email}}</div>
    <button ng-show='vm.test' class='button button-dark ng-hide' ng-click='logout()'>Logout</button>
  </div>


  <div ng-controller='OauthController'>
    <div>{{window.localStorage.image}}</div>
  </div>
  </ion-content>
</ion-view>
