<ion-view view-title="Titles">
  <ion-content class='padding'>
      <div class="col col-70 col-offset-15"><h2>Choose a title</h2></div>

    <ion-list >
    <label class="item item-input ">
      <input ng-model='vm.search' type="text" placeholder="search">
      </label>
      <!-- repeats for all movie/book properties in database and auto sorts them by name.  Search working for movie titles. -->
      <ion-item  ng-repeat="property in vm.allProperties | filter: vm.search | orderBy: 'movieTitle'" type="item-text-wrap" href="#/tab/properties/{{property._id}}">
        <div>{{property.movieTitle}}</div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
