<ion-view view-title="User">
  <ion-content class='padding'>
  <div ng-show="window.localStorage.user !== '' || window.localStorage.user !== null || window.localStorage.user !== undefined "class='ng-hide'>
    <img src="{{vm.image}}">
      <div>{{vm.firstName}}</div>
      <div>{{vm.lastName}}</div>
      <div>{{vm.email}}</div>
    <button ng-show='vm.test' class='button button-dark ng-hide' ng-click='logout()'>Logout</button>
  </div>


  <div ng-controller='OauthController'>
    <div>{{window.localStorage.image}}</div>
  </div>
  </ion-content>
</ion-view>
