<ion-view view-title="book or movie?" class='frame_look_feel'>
  <ion-content class='padding'>
  <div class="col col-80 col-offset-10">
      <h3 id='main-header'>
        can't decide whether you want to read the book or see the movie first? <br><br> we're here to help.
      </h3>
  </div>
<img src="./img/book.png" class="col icon"><img src="./img/film.png" class="col icon">

  <div ng-controller='OauthController'>
  <!--ng-show functions tied to localstorage holding a user to display/not display login and log out buttons  -->
    <div  ng-show='loggedIn' class='center ng-hide displayMessage'>hello {{email}}, go vote!</div>

    <button id='logout' ng-show='loggedIn' class='button button-dark ng-hide center' ng-click='logout()'>Logout </button>
   <img ng-show='!loggedIn'  class='ng-hide col col-80 col-offset-10' id='google-oauth' src="./img/google-login.png" alt="Login with Google" ng-click='googleLogin()'></img>

  </div>
  </ion-content>
</ion-view>
