/* Empty. Add your own CSS if you like */
.padding {
  color: white
  font-family: helvetica;
}
.bar-stable{
  background-color: #A55D35;
}
ion-item {
  color: white
}
#main-header {
  margin-top: 20%;
}
#poster {
  width: 80%;
  margin: 0 10%;
}

#infopane{
  margin: 10%;
}
.container h4{
  font-family: Helvetica;
}
