/* Empty. Add your own CSS if you like */

#main-header {
  margin-top: 20%;
  text-align: center;
}
#poster {
  width: 80%;
  margin: 0 10%;
}

#infopane{
  margin: 10%;
}

.icon{
  max-width: 50%;
  display: inline;
}

/*ion-nav-view.view-container, ion-nav-view{
  background-color: blue;
}
*/
